/*======Google Fonts======*/
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap');
/*==========*/


/*======Variables======*/
:root {
    --header-height: 3rem;

    /*Colores*/
    --hue-color: 240;

    /*Modo de colores*/
    --first-color: hsl(var(--hue-color), 65%, 45%);
    --first-color-second: hsl(var(--hue-color), 69%, 61%);
    --first-color-alt: hsl(var(--hue-color), 57%, 53%);
    --first-color-lighter: hsl(var(--hue-color), 92%, 85%);
    --title-color: hsl(var(--hue-color), 8%, 15%);
    --text-color: hsl(var(--hue-color), 8%, 45%);
    --text-color-light: hsl(var(--hue-color), 8%, 65%);
    --input-color: hsl(var(--hue-color), 70%, 96%);
    --body-color: hsl(var(--hue-color), 60%, 85%);
    --container-color: #FFF;
    --header-color: hsl(var(--hue-color), 27%, 18%);
    --header-title-color: hsl(var(--hue-color), 27%, 70% );
    --footer-color: hsl(var(--hue-color), 17%, 35%);
    --login-color: hsl(var(--hue-color), 10%, 72%);

    /*Fuente y tipografia*/
    --body-font: 'Poppins', sans-serif;

    --big-font-size: 2rem;
    --h1-font-size: 1.5rem;
    --h2-font-size: 1.25rem;
    --h3-font-size: 1.125rem;
    --normal-font-size: .938rem;
    --small-font-size: .813rem;
    --smaller-font-size: .75rem;

    /*Peso de la fuente*/
    --font-medium: 500;
    --font-semi-bold: 600;

    /*Margenes bottom*/
    --mb-0-25: .25rem;
    --mb-0-5: .5rem;
    --mb-0-75: .75rem;
    --mb-1: 1rem;
    --mb-1-5: 1.5rem;
    --mb-2: 2rem;
    --mb-2-5: 2.5rem;
    --mb-3: 3rem;

    /*Z index*/
    --z-back: -10;
    --z-tooltip: 10;
    --z-fixed: 100;
    --z-modal: 1000;
}
/*==========*/

/*Fuente para dispositivos grandes*/

@media screen and (min-width:968px) {
    :root {
        --big-font-size: 3rem;
        --h1-font-size: 2.25rem;
        --h2-font-size: 1.5rem;
        --h3-font-size: 1.25rem;
        --normal-font-size: 1rem;
        --small-font-size: .875rem;
        --smaller-font-size: .813rem;
    }
}
/*==========*/

/*======Base======*/

* {
    box-sizing: border-box;
    padding:0;
    margin:0;
}

html {
    scroll-behavior: smooth;
}

body {
    margin: 0;
    font-family: var(--body-font);
    font-size: var(--normal-font-size);
    background: var(--body-color);
    color: var(--text-color);
    transition: all 0.3s ease-in-out;
}

h1,h2,h3,h4 {
    color: var(--title-color);
    font-weight: var(--font-semi-bold);
}

ul {
    list-style:none;
}

a {
    text-decoration: none;
}

img {
    max-width: 100%;
    height: auto;
}

header {
    background: var(--header-color);
}

/*==========*/

/*======Header nav======*/

.header {
    width: 100%;
    position: fixed;
    top: 0;
    left:0;
    z-index: var(--z-fixed);
}

.nav {
    max-width: 968px;
    height: var(--header-height);
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/*==Menu responsivo==*/
@media screen and (max-width: 760px) {
    .nav__menu {
        z-index: var(--z-modal);
        position: fixed;
        left: -100%;
        top: 0;
        width: 50%;
        height: 50%;
        background: var(--header-color);
        padding: 2rem 1.5rem 4rem;
        box-shadow: 7px 6px 4px rgb(0 0 0 / 15%);
        border-radius: 0 1.5rem 1.5rem 0;
        transition: .3s;
        transition-timing-function: cubic-bezier(0.53, 0.69, 0.21, 1.28);
    }

    .nav__sublist {
        position: fixed;        
        left: 0;
        top: -100%;
        width: 50%;
        height: 50%;
        background: var(--header-color);
        padding: 2rem 1.5rem 4rem;
        box-shadow: 7px 6px 4px rgb(0 0 0 / 15%);
        border-radius: 0 1.5rem 1.5rem 0;
    }



    .nav__list {
        flex-direction: column;
    }

}
/*==---==*/

.nav__title {
    margin-top: var(--mb-1-5);
}

#nav__image {
    height:10vh;
}

.nav__logo-container {
    display: flex;
    align-items: center;
    padding: 0 var(--mb-1);
}


.nav__list {
    display: flex;
}

.nav__item {
    padding: var(--mb-0-25) 0.1rem;
}

.nav__login {
    padding: var(--mb-0-25);
}

.log_buttons {
    display: flex;
}

.nav__opensubmenu:hover > .nav__sublist {
    transition: .3s;
    transition-timing-function: cubic-bezier(0.53, 0.69, 0.21, 1.28);
    z-index: var(--z-fixed);
    left:45%;
    top:0;
}

.nav__deliver:hover > .nav__subdeliver  {
    transition: .3s;
    transition-timing-function: cubic-bezier(0.53, 0.69, 0.21, 1.28);
    z-index: var(--z-fixed);
    left:45%;
    top:0;
}

.nav__link:hover {
    color: var(--first-color-lighter);
}

.nav__login-responsive {
    position:absolute;
    top:-200%;
}

.nav__logo,
.nav__toggle {
    color: var(--header-title-color);
    font-weight: var(--font-medium);
}

.nav__toggle {
    font-size: 1.1rem;
    cursor: pointer;
}

.nav__toggle:hover {
    color: var(--first-color);
}

.nav__close {
    position: absolute;
    left: .5rem;
    top: .5rem;
    font-size: 1.5rem;
    cursor: pointer;
    color: var(--first-color);
}

.nav__close:hover {
    color: var(--first-color-alt);
}

.nav__subitem {
    padding: var(--mb-0-25) 0;
}

.nav__title {
    color: var(--text-color-light);
}

.nav__link {
    color: var(--first-color-lighter);
}

.show-menu {
    left: 0%;
}
/*==========*/

/*======Main======*/

.main {margin-top: var(--header-height);}
    /*Aside social media*/

    .main__aside {
        background: var(--header-color);
        z-index: var(--z-tooltip);
        position: fixed;
        left: 0;
        top: 30%;
        border-radius: 0 .5rem .5rem 0;
        transition: .3s;
        padding-top: var(--mb-1-5);
    }

    .fa-2x {
        font-size: 1em !important;
    }

    .main__item {
        width: 2rem;
        height: 2rem;
        line-height: 2rem;
        margin: 1rem;
        text-align: center;
        cursor: pointer;
        border-radius: 50%;
        border: 1px solid #D8E2DC;
        transition: all 0.5s ease;
    }

    .main__item:hover {
        transform: rotate(360deg);
    }

    .fa {
        color: #D8E2DC;
        transition: all 0.5s ease;
    }
    /* Facebook */
    .main__item:hover.facebook{
        border: 1px solid #3b5998;
        box-shadow: 0 0 15px #3b5998;
        transition: all 0.5s ease;
        transform: rotate(360deg);
    }

    .main__item:hover .fa-facebook {
        color: #3b5998;
        text-shadow: 0 0 15px #3b5998;
        transition: all 0.5s ease;
        transform: rotate(360deg);
    }
    /*-----*/

    /* Twitter */
    .main__item:hover.twitter {
        border: 1px solid #00aced;
        box-shadow: 0 0 15px #00aced;
        transition: all 0.5s ease;
    }
      
    .main__item:hover .fa-twitter {
        color: #00aced;
        text-shadow: 0 0 15px #00aced;
        transition: all 0.5s ease;
    }
    /*-----*/
    
    /* Instagram */
    .main__item:hover.instagram {
        border: 1px solid #bc2a8d;
        box-shadow: 0 0 15px #bc2a8d;
        transition: all 0.5s ease;
    }
      
    .main__item:hover .fa-instagram {
        color: #bc2a8d;
        text-shadow: 0 0 15px #bc2a8d;
        transition: all 0.5s ease;
    }
    /*-----*/

    /* Google */
    .main__item:hover.google {
        border: 1px solid #dd4b39;
        box-shadow: 0 0 15px #dd4b39;
        transition: all 0.5s ease;
      }
      
    .main__item:hover .fa-google {
        color: #dd4b39;
        text-shadow: 0 0 15px #dd4b39;
        transition: all 0.5s ease;
    }
    /*-----*/

    /* Whatsapp */
    .main__item:hover.whatsapp {
        border: 1px solid #4dc247;
        box-shadow: 0 0 15px #4dc247;
        transition: all 0.5s ease;
    }
      
    .main__item:hover .fa-whatsapp {
        color: #4dc247;
        text-shadow: 0 0 15px #4dc247;
        transition: all 0.5s ease;
    }
    /*-----*/

    /*Show y hide aside*/
    .show-aside,.hide-aside {
        cursor: pointer;
    }
    /*Estos son los selectores de icono del ojito para mostrar y esconder*/
    #show-aside {
        background: var(--header-color);
        z-index: var(--z-back);
        position: fixed;
        left: var(--mb-1);
        top: 30.6%;
        width: 2rem;
        height: 2rem;
        line-height: 2rem;
        text-align: center;
        cursor: pointer;
        border-radius: 50%;
        border: 1px solid #D8E2DC;
        transition: all 0.5s ease-in-out;
    }
    
    #hide-aside {
        background: var(--header-color);
        z-index: var(--z-fixed);
        position: fixed;
        left: var(--mb-1);
        top: 30.6%;
        width: 2rem;
        height: 2rem;
        line-height: 2rem;
        text-align: center;
        cursor: pointer;
        border-radius: 50%;
        border: 1px solid #D8E2DC;
        transition: all 0.5s ease-in-out;
    }

    #hide-aside:hover {
        transform: rotate(360deg);
    }
        /*Esto esconde el aside*/
    .hide__aside {
        left: -100%;
    }
        /*Esto es para el icono del ojo del aside :)*/
    .hide__eye {
        display:none;
    }
        /*-----*/
    .eye__trail {
        background: var(--header-color);
        z-index: var(--z-back);
        position: fixed;
        left: 0;
        top: 32.5%;
        width: 2rem;
        height: .6rem;
        cursor: pointer;
        transition: all 0.5s ease;
    }
    /*-----*/



/*==========*/

/*======Footer======*/

.footer {
    background: var(--footer-color);
}

.footer__container {
    display: flex;
    align-items: center;
    justify-content: space-around;
    align-content: center;
    padding: var(--mb-3);
}

.footer__link {
    color: var(--text-color-light);
}

.social-ul-logo {
    color: var(--body-color)
}

/*==========*/

/*======Tag button======*/
.button {
    display: flex;
    background-color: var(--first-color);
    color: #FFF;
    border-radius: .5rem;
    font-weight: var(--font-medium);
    align-items: center;
}

.button:hover {
    background-color: var(--first-color-alt);
}

.button__icon {
    font-size: 1.25rem;
    margin-left: var(--mb-0-5);
    transition: .3s;
}

.button--flex {
    display: inline-flex;
    align-items: center;
}
/*==========*/

/*======Banner======*/

.main__banner {
    margin-top: var(--header-height);
}

.banner__image {
    width:100%;
    height:40vh;
}

.carousel__banner {
    display: none;
}

    /*Fade animation*/

    .fade {
        animation: fade 1.5s;
    }

    @keyframes fade {
        from {opacity: .4}
        to {opacity: 1}
    }

    /*-----*/

.banner__text {
    position: absolute;
    color: white;
    top:45vh;
    width:100%;
    text-align:center;
}
/*==========*/

/*======Main home======*/

.home__information {
    display:flex;
    padding: var(--mb-2-5);
    flex-direction: column;
}

.home-info-container {
    margin: 0 var(--mb-2-5);
}

.home-logo {
    width: 50%;
    align-self: center;
}

/*==========*/

/*======Media Query (responsividad)======*/

@media screen and (max-width:800px) {
    
}

@media screen and (min-width:320px) {
    .button {
        display: flex;
        background-color: var(--first-color);
        color: #FFF;
        border-radius: .5rem;
        font-weight: var(--font-medium);
        align-items: center;
    }
    

}

@media screen and (max-width: 680px){

}
/*==========*/

/*¨Reparto*/

.repartidor__row {
    margin: var(--mb-1);
    display: flex;
    align-items: center;
    justify-content: center;
}

section.main__container {
    margin-top: calc(var(--mb-3)*2);
}

.repartidor__container.producto {
    background: var(--first-color-lighter);
    border: solid var(--first-color) 1px;
    border-radius: 1rem 5rem;
    padding: 1.3rem;
}

/*-----*/

img.item_image {
    width: 60%;
    border: solid var(--first-color-alt);
    border-radius: 1rem 5rem;
}

.item__container {
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: center;
    margin: var(--mb-2) 0;
}

.item_image-container {
    text-align: center;
}

.item_content {
    text-align: center;
}

.item_first_title {
    text-align: center;
}