:root {
    /*Colores*/
    --hue-color: 240;
    --login-color: hsl(var(--hue-color), 10%, 72%);
}

body {
    background: var(--login-color);
}

/*Login en todas las paginas*/
.logo__image {
    display: flex;
    align-items: center;
    align-content: center;
}

.form__container {
    margin: 0 auto;
    background: linear-gradient(180deg, var(--body-color),white);
    margin-top: var(--header-height);
    padding-top: var(--mb-1);
    width: 60%;
    border-radius: 1rem;
}

.form {
    display: flex;
    flex-direction: column;
    align-items: center;
    background: none;
}

.login__title-text {
    text-align: center;
    margin-top: var(--mb-1);
    margin-bottom: var(--mb-3);
}

.login__footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 0 var(--mb-1-5) 0;
}

.input {
    border: none;
    background: none;
}

label {
    margin: var(--mb-1) 0;
}

.input__container {
    border-bottom: solid;
    border-color: blueviolet;
}

.login__link {
    margin-top: var(--mb-1);
}

.forgot-pwd {
    align-self: end;
}

.submit-button {
    margin: var(--mb-1) 0;
    padding: var(--mb-1);
    background: var(--first-color-lighter);
    color: var(--first-color);
    cursor: pointer;
}

.login__list {
    display: flex;
    align-items: center;
    align-content: center;
}

.login__social-image {
    width: 2rem;
    height: auto;
    margin: var(--mb-0-5);
}

.input:focus-visible {
    outline: none;
}

.recover__disclaimer {
    margin: 0 var(--mb-2);
}

.back__button {
    margin-right: var(--mb-1);
}

.back__link {
    color: var(--body-color);
}
/*-----*/